%background-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

%hover-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 20px solid $color-dark-0;
    background-color: $color-white-1;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
}

.btn {
    border: 1px solid transparent;
    border-radius: 0;
    font-size: $fs-0 - 3;
    line-height: $lh-btn;
    letter-spacing: $let-sp-1;
    text-transform: uppercase;
    color: $color-white-0;
    padding: $pd-0 + 3 $pd-1;
    transition: all 0.3s;
}