.design {
    .section-info {
        margin-bottom: $mg-3;
    }

    .design__content {
        .design__item {
            position: relative;
            border: 1px solid $color-gray-0;
            border-radius: $boder-radi-0;
            padding: $pd-1;

            // margin-bottom: $mg-1;
            .design__icon {
                position: absolute;
                top: -30px;
                left: 30px;
                width: 60px;
                height: 60px;
                border-radius: $boder-radi-0;
                text-align: center;
                background-color: $color-black-4;
                box-shadow: 0 0 0 4px $color-white-0;
                line-height: $lh-2;
                transition: all 0.3s;

                i {
                    font-size: $fs-2;
                    line-height: $lh-2;
                    color: $color-white-0;
                }
            }

            &:hover {
                .design__icon {
                    background-color: $color-yellow-0;
                }
            }

            h2 {
                font-size: $fs-3;
                font-weight: $fw-0;
                letter-spacing: $let-sp-1;
                text-transform: uppercase;
                margin: $mg-4 0 $mg-2 0;
            }

            p {
                color: $color-black-3;
            }
        }
    }

    @include responsiveDesktopFirst("large") {
        .design__content {
            .design__item {
                margin-bottom: $mg-1;
            }
        }
    }
}