.intro {
    background-image: url("../img/intro.png");
    background-attachment: fixed;

    .intro__nav {
        justify-content: space-between;
    }

    .nav-item {
        width: 18%;
        margin: 0;

        .nav-link {
            position: relative;
            border-radius: 0;
            background-color: $color-gray-8;
            text-align: center;
            color: $color-black-8;
            padding: $pd-1 + 5 $pd-4;
            cursor: pointer;

            &:hover,
            &.active {
                background-color: $color-white-0;
                color: $color-black-4;

                &::after {
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                    content: "";
                    @include arrow(10px, down, $color-white-0);
                    opacity: 1;
                }
            }

            i {
                font-size: $fs-4;
            }
        }
    }

    .tab-pane {
        line-height: $lh-1 + 1;
        padding: $pd-1 0;

        .intro__title {
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: $mg-1;

            p {
                @include styleText2($color-black-3, $fs-0 - 1);
            }

            h3 {
                font-size: $fs-2;
            }
        }
    }

    @include responsiveDesktopFirst("medium") {
        .intro__nav {
            .nav-item {
                width: 100%;
                margin-bottom: $mg-5;
            }
        }

        .tab-pane {
            .intro__title {
                h3 {
                    font-size: $fs-3 - 4;
                }
            }
        }
    }
}